html {
  box-sizing: border-box;
  font-family: "Courier New", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  animation: color-change-3x 6s linear infinite alternate both;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input[type=range]{
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: lightblue;
  border: 0.1em solid #000000;
  border-radius: 0.5em;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: lightblue;
  border: 0.1em solid #000000;
  border-radius: 0.5em;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border: 0.1em solid #000000;
  border-radius: 50%;
  background: #1FA2FF;
  margin-top: -0.4em;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border: 0.1em solid #000000;
  border-radius: 50%;
  background: #1FA2FF;
  margin-top: -0.4em;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}



