.button {
  min-width: 6em;
  min-height: 3em;
  border: 0.1em solid #000000;
  border-radius: 1em;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-family: "Courier New", sans-serif;
  cursor: pointer;
}


